<div class="slideshow-container noselect">
  <div class="img-container">
    <div class="ss-button left"  (click)='scrollLeft()' ><p><</p></div>
    <div class="ss-button right" (click)='scrollRight()'><p>></p></div>
    <ng-container *ngFor="let image of images" >
      <img *ngIf="image.pos == curPos" src="{{ image.src }}" alt="Pic {{ image.pos }}">
    </ng-container>
  </div>
</div>
<div>
  <ul>
    <ng-container *ngFor="let image of images">
      <li class="dot"
      [style.background-color]="image.pos == curPos ? 'red' : 'black'"
      (click)="gotoPos(image.pos)">
    </ng-container>
  </ul>
</div>
