@import "../../assets/styles/_breakpoints";

.slideshow-container {
  position: relative;
  height: 0;
  background-color: grey;
}

.img-container {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    position: absolute;
  }
}

.ss-button {
  text-align: center;
  height: 100%;
  display: table;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 10;

  p {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: white;
  }
}

.ss-button:active {
  background: rgba(0, 0, 0, 0.5);
}

.left {
  position: absolute;
  left: 0;
}
.right {
  position: absolute;
  right: 0;
}

ul {
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;

  @include gt-tablet {
    margin-top: 10px;
    margin-bottom: 16px;
  };
}

.dot {
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: grey;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;

  @include gt-tablet {
    height: 8px;
    width: 8px;
  };
}
