<header class="app-header">
  <nav-header></nav-header>
  <div class="container">
    <div class="spacer"></div>
    <h1>Association of Caribbean Students</h1>
    <h2>Welcome to the Caribbean</h2>
    <div class="spacer"></div>
    <social-links></social-links>
  </div>
</header>

<div class="container main-body">
  <h2>The Mission</h2>
  <h1>"To provide a welcoming environment for Caribbean Students.. Home away from home somthing or other"</h1>
  <p>We strive to foster a welcoming attitude towards all members and to provide a friendly fun environment for all to enjoy.</p>
  <div class="button">
    <a>Learn More About Us</a>
  </div>
</div>

</div>
