<header class="app-header">
  <nav-header></nav-header>
  <div class="container">
    <div class="spacer"></div>
    <h1>Association of Caribbean Students</h1>
    <h2>Welcome to the Caribbean</h2>
    <div class="spacer"></div>
    <social-links></social-links>
  </div>
</header>

<div class="container main-body">
  <h2>The Mission</h2>
  <h1>"To provide a welcoming environment for Caribbean Students.. Home away from home something or other"</h1>
  <p>We strive to foster a welcoming attitude towards all members and to provide a friendly fun environment for all to enjoy.</p>
  <div class="button">
    <a>Learn More About Us</a>
  </div>
</div>

<div class="back-image" style="background-image: url('../../assets/images/caribbean-flags.jpg');">
  <div class="back-image-content">
    <h1>Out of Many, One People</h1>
  </div>
</div>

<div class="container main-body">
  <h2>The People</h2>
  <div class="slideshow-container">
    <div class="img-container">
      <div class="ss-button left"><p><</p></div>
      <div class="ss-button right"><p>></p></div>
      <img src="../../assets/images/slideshow/shankjoshdylan.jpg" alt="Pic 1">
    </div>
  </div>
  <div>
    <ul>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
    </ul>
  </div>
  <p>A group of people that are people and such and such, friends, family, and also here is the exec team too and things also.</p>
</div>
