<header class="app-header">
  <nav-header></nav-header>
  <div class="container">
    <div class="spacer"></div>
    <h1>Association of Caribbean Students</h1>
    <h2>Welcome to the Caribbean</h2>
    <div class="spacer"></div>
    <social-links></social-links>
  </div>
</header>

<div class="container main-body">
  <h2>The Mission</h2>
  <h1>"To provide a welcoming environment for Caribbean Students.. Home away from home something or other"</h1>
  <p>We strive to foster a welcoming attitude towards all members and to provide a friendly fun environment for all to enjoy.</p>
  <div class="button">
    <a>Learn More About Us</a>
  </div>
</div>

<div class="back-image" style="background-image: url('../../assets/images/caribbean-flags.jpg');">
  <div class="back-image-content">
    <h1>Out of Many, One People</h1>
  </div>
</div>

<div class="container main-body">
  <h2>The People</h2>
  <slideshow [images]="peopleImages"></slideshow>
  <p>A group of people that are people and such and such, friends, family, and also here is the exec team too and things also.</p>
</div>

<div class="events main-body">
  <div class="container">
    <h2>The Events</h2>
  </div>
  <div class="container-lg flexy">
    <div class="event-images">
      <slideshow [images]="eventImages"></slideshow>
    </div>
    <div class="event-description">
      <p>Hello!!</p>
    </div>
  </div>
</div>
