@import "../../assets/styles/_breakpoints";

.app-header {
  /* The image used */
  background-image: url("../../assets/images/sunset.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacer {

  @include gt-tablet{
    height: 100px;
  };
}

.social-container {
  background: white;
  padding: 4px;
}
