@import "../../assets/styles/_breakpoints";

.app-header {
  background-image: url("../../assets/images/sunset.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;

  @include gt-tablet {
    background-attachment: fixed;
  };
}

.back-image {
  height: 0;
  padding-top: 37.5%;
  text-align: center;
  position: relative;

  /* Create the parallax scrolling effect */
  background-size: 100% auto;
  background-attachment: scroll;
  background-position: bottom;
  background-repeat: no-repeat;
}

.back-image-content {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;

  h1 {
    color: white;
    text-shadow: 1px 2px 3px #666;
    font-size: 28px;
    font-weight: 2000;
    margin-top: 14%;

    @include gt-tablet {
      font-size: 76px;
      margin-top: 15%;
    };
  }
}

.spacer {

  @include gt-tablet{
    height: 100px;
  };
}

.social-container {
  background: white;
  padding: 4px;
}

.main-body {

  h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 1em;

    @include gt-tablet{
      font-size: 48px;
    };
  }

  h2 {
    font-size: 24px;
    font-weight: thick;
    text-decoration: underline;
    margin-top: 2em;
    margin-left: 20px;

    @include gt-tablet{
      font-size: 32px;
    };
  }

  p {
    text-align: center;
    margin-top: 1em;
  }
}

.button {
  text-align: center;

  a {
    padding: 10px 20px;
    border-radius: 5px;
    background: red;
    color: white;
    font-size: 14px;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 4em;
    cursor: pointer;

    @include gt-tablet {
      font-size: 18px;
    };
  }
}

.events {
  background-color: #F3F3F3;

  h1 {
    font-size: 24px;

    @include gt-tablet {
      font-size: 32px;
    };
  }

  p {
    font-size: 12px;

    @include gt-tablet {
      font-size: 18px;
    };
  }
}

.flexy {

  @include gt-tablet {
    display: flex;
  };
}

.event-images {

  @include gt-tablet {
    flex-grow: 3;
  };
}

.event-description {
  margin-bottom: 2em;

  @include gt-tablet {
    padding-left: 15px;
    flex-grow: 1;
    max-width: 335px;
  };
}
