<header class="app-header">
  <nav-header></nav-header>
  <div class="spacer"></div>
  <div class="container hide-mobile">
    <h1>Association of Caribbean Students</h1>
  </div>
  <div class="spacer"></div>
</header>

<div class="main-body">
  <div class="container">
    <h1>About Us</h1>
    <p>
      Within ACS, students born in the Caribbean will be able to experience and
      enjoy an atmosphere in which they can relax and feel at home.
    </p>
    <p>
      Students not born in the Caribbean, but with Caribbean background will find a place
      where they can find out more about their ancestry, homeland and culture.
    </p>
    <p>
      Students with no Caribbean background will have the opportunity to
      discover more about a unique culture and participate in activities and
      events that they might not have otherwise been able to experience.
    </p>
    <p>
      The ACS provides entertainment and educational value to students of all backgrounds
    </p>
    <div class="links-container">
      <social-links></social-links>
    </div>
  </div>
</div>
