<header class="app-header">
  <nav-header></nav-header>
  <div class="container hide-mobile">
    <h1>Association of Caribbean Students</h1>
  </div>
</header>

<div class="main-body">
  <div class="container-lg">

    <ng-container *ngIf="upcomingEventsExist">
    <h1>Upcoming Events</h1>
    <div class="events">
      <ng-container *ngFor="let event of events | async | reverse">
      <h2>{{ event.date }}</h2>
      <div class="flexy">
        <div class="event-images">
          <slideshow [dbPath]="event.dbImagesPath" [heightPercent]="toFloat('37.62')"></slideshow>
        </div>
        <div class="event-description">
          <h1>{{ event.name }}</h1>
          <p>{{ event.description }}</p>
        </div>
      </div>
      </ng-container>
    </div>
  </ng-container>

    <h1>Past Events</h1>
    <div class="events">
      <ng-container *ngFor="let event of pastEvents | async | reverse">
      <h3>{{ toReadableDate(event.date) }}</h3>
      <div class="flexy">
        <div class="event-images">
          <slideshow [dbPath]="event.dbImagesPath" [heightPercent]="toFloat('37.62')"></slideshow>
        </div>
        <div class="event-description">
          <h1>{{ event.name }}</h1>
          <p>{{ event.description }}</p>
        </div>
      </div>
      </ng-container>
    </div>

  </div>
</div>
